@model OnlineTermWorkSubmission.Models.Faculty

@{
    ViewBag.Title = "index";
}

<div class="jumbotron">
    <h3>FACULTY INDEX</h3>

</div>

<div>
    @Html.ActionLink("view student data", "ViewStudent") |

    @Html.ActionLink("log out", "Logout") |

    @Html.ActionLink("view subject", "ViewSubject", new { id = ViewBag.id })

</div>





