@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<div class="jumbotron">

    <p>Our Online Termwork Submission Application is available to submit/upload lab term work at college level.</p>
    <p>Created By:<p>
        <br>
    <p>Parth Baudhanwala | </p><a href="mailto:parthbaudhanwala45@gmail.com">parthbaudhanwala45@gmail.com</a>
    <br />
    <br>
    <p>Meet Charola | </p> <a href="mailto:meetcharola144@gmail.com">meetcharola144@gmail.com</a>
    <br />

</div>
<div></div>
<div class="form-actions no-color">
    @Html.ActionLink("Home", "Logout", "Student")
</div>
