@{
    ViewBag.Title = "About";
}
<h2><b>@ViewBag.Title</b></h2>
<h3></h3>

<div class="jumbotron">

    <p>
        <b>
        As we are going through the digital era of these years, we need think
        towards educational functions that can be converted digitally. So we as a
        team, have created this web application to submit term-work online.
        This will eventually help us to reduce paper work and also save our time
        to keep tracking of details of students. Our main purpose to build this
        web application is to facilitate submission process and also solve storage
        problems. In this web application student can submit particular
        assignment to particular lab of according subject. And as we mentioned
        before, we have solved storage problems so there is automated storage
        system to maintain accurate records.
        </b>
    </p>
    <br />
    <p><b>Created By:</b><p>
    <br />
    <p><b>Parth Baudhanwala | </b></p><a href="mailto:parthbaudhanwala45@gmail.com">parthbaudhanwala45@gmail.com</a>
    <br />
    <br>
    <p><b>Meet Charola | </b></p> <a href="mailto:meetcharola144@gmail.com">meetcharola144@gmail.com</a>
    <br />

</div>
<div></div>
<div class="form-actions no-color">
    @Html.ActionLink("Home", "Logout", "Student")
</div>
