@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dharmsinh Desai University<br />
    College Road, Nadiad, Gujarat, India<br />
    <abbr title="Phone">P: 8141589785</abbr>
</address>


<div class="form-actions no-color">
    @Html.ActionLink("Home", "Logout", "Student")
</div>